{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for b in books %}
                    <h2><a href="#">{{ b.name }}</a></h2>
                    <p>Автор: {{ b.author }}</p>
                    <p>Дата публикации: <a href="{% url 'book' b.pub_date %}">{{ b.pub_date | date:"Y-m-d" }}</a></p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for b in book %}
                    <h2><a href="">{{ b.name }}</a></h2>
                    <p>Автор: {{ b.author }}</p>
                    <p>Дата публикации: {{ b.pub_date | date:"Y-m-d" }}</p>
                {% endfor %}
                {% if not prev is None %}
                    <a href="{% url 'book' prev.pub_date|date:"Y-m-d" %}">< {{ prev.pub_date | date:"Y-m-d" }}</a>
                {% endif %}
                {% if not next is None %}
                    <a href="{% url 'book' next.pub_date|date:"Y-m-d" %}"> {{ next.pub_date | date:"Y-m-d" }} ></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}